[submodule "tools/abc"]
	path = tools/abc
	url = https://github.com/berkeley-abc/abc.git
[submodule "tools/yosys"]
	path = tools/yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "tools/sv2v"]
	path = tools/sv2v
	url = https://github.com/zachjs/sv2v.git
